body {
    background-color: rgb(99, 107, 104);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    padding:3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(13, 78, 75);
    height: 60px;
    width: 320px;
    border-radius: 15px;
}   

#buscaLibro{
    padding: 50px;
    background-color: rgb(7, 57, 57);
    height: 200px;
    width: 300px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    padding: 10px;
}

input{
    height: 90px;
    width: 275px;
    border-radius: 5px;
}

#buscar{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    scale: 150%;
    color: rgb(2, 51, 78);
}

#buscar:hover{
    scale: 161%;
    color: rgb(1, 30, 46);
}